html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #E4EBF5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #717e9c;
}

#jokerLogo{
    width: 20%;
    height: 100%;
    margin-left: 3%;
}

#quizLogo{
    height: 80%;
}

#jsLogo{
    height: 90%;
}

#oopLogo{
    height: 110%;
}

#welcome {
    font-size: 300%;
    height: 5%;
    text-align: center;
}

#gamemenu {
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E4EBF5;
    width: 65%;
    height: 12%;
    margin: 1%;
    border-radius: 10px;
    font-size: 200%;
    border: 0px;
    box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #FFFFFF;
    transition: .1s ease-in-out;
    color: #717e9c;
    cursor: pointer;
}

.projectName {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 100%;
    width: 100%;
    height: 100%;
    margin-left: 3%;
    word-break: break-all;
    margin-left: 5%;
}
#joker:hover {
    box-shadow: inset .3rem .3rem .6rem #f82c2c, inset -.2rem -.2rem .5rem #e44f4f;
}

#quiz:hover {
    box-shadow: inset .3rem .3rem .6rem #23710d, inset -.2rem -.2rem .5rem #3a9234;
}

#easyjs:hover {
    box-shadow: inset .3rem .3rem .6rem #ffdf00, inset -.2rem -.2rem .5rem #ffbf00;
}

#oopAge:hover {
    box-shadow: inset .6rem .6rem .6rem #1c50ed, inset -.5rem -.5rem .5rem #5557ee;
}

.project:hover {
    box-shadow: inset .6rem .6rem .6rem #4a4a4a, inset -.5rem -.5rem .5rem #6c6c6c;
}


@media (max-width: 768px) {

    #jokerLogo{
        width: 35%;
    }

    .project {
        width: 75%;
        height: 8%;
        margin: 3%;
        font-size: 120%;
    }

    #joker:hover {
        box-shadow: none;
    }
    
    #quiz:hover {
        box-shadow: none;
    }
    
    #easyjs:hover {
        box-shadow: none;
    }
    
    #oopAge:hover {
        box-shadow: none;
    }
    
    .project:hover {
        box-shadow: none;
    }
    
}