/* Colors */
:root {
  --primary-color: #FB6F92;
  --secondary-color: #FFB3C6;
  --tertiary-color: #FFEBF0;
  --text-color: #333333;
  --background-color: #F8F8F8;
}

/* Chat App container */
.chat-app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: var(--secondary-color);
  color: var(--text-color);
  width: 20%;
  display: flex;
  flex-direction: row;
}

.chats ul,
.members ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chats li,
.members li {
  margin-bottom: 10px;
}

.chats button,
.members button {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  transition: background-color 0.2s ease-in-out;
}

.chats button:hover,
.members button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
}

.chats button.active {
  background-color: var(--primary-color);
  color: #fff;
}

/* Chat Main */
.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.chat-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chat-body {
  flex: 1;
  padding: 20px;
  background-color: var(--tertiary-color);
  overflow-y: scroll;
}

.chat-body::-webkit-scrollbar {
  width: 8px;
}

.chat-body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

.chat-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.input-container {
  flex: 1;
  margin-right: 10px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  background-color: #fff;
}

button[type="submit"] {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: 2%;
}

button[type="submit"]:hover {
  background-color: #f95a78;
}
