/* Chat app styling */
.chatApp {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* Sidebar styling */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #202225;
  color: #dcddde;
  padding: 16px;
  min-width: 250px;
}

.chats {
  margin-bottom: 24px;
}
.timestamp{
  font-size: 12px;
}

.chatHeader {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li button {
  display: block;
  background-color: transparent;
  border: none;
  color: #dcddde;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  padding: 8px 16px;
  text-align: left;
  transition: background-color 0.1s ease-in-out;
  width: 100%;
}

li button:hover {
  background-color: #72767d;
}

li button.active {
  background-color: #7289da;
  color: #fff;
}

.members {
  flex-grow: 1;
}

/* Chat main styling */
.chatMain {
  margin-left: 16%;
  position: fixed;
  width: 83%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 97%;
  background-color: #36393f;
  color: #dcddde;
  padding: 16px;
  min-width: 250px;
}

.chatHeader {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.chatBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px 16px;
  overflow-y: scroll;
  font-size: 20px;
}

.chatFooter {
  margin-top: 24px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #40444b;
  border-radius: 4px;
  padding: 8px 16px;
  width: 97%;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  color: #dcddde;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 400;
  margin: 0 8px;
  padding: 8px 0;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
}

button[type="submit"] {
  height: 30px;
  width: 50px;
  background-color: #7289da;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}