body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #6699cc;
}

#headline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 0 2%;
    background-color: #3473c7;
}

#backButton {
    position: relative;
    cursor: pointer;
    color: #E4EBF5;
    height: 30%;
    right: 30%;
}

#oopLogo {
    height: 100%;
}

#ageCalculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 10% 0;
}

#calculatorInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    padding: 2%;
    margin-bottom: 2%;
    background-color: #E4EBF5;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 180%;
}

.form-element {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 2%;
    height: 70%;
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fname, #fodselsar {
    border: none;
    height: 10%;
    width: 80%;
    padding: 3%;
    font-size: 2rem;
    border-radius: 5px;
}

#submit {
    width: 60%;
    background-color: #E4EBF5;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    padding: 1%;
    margin: 3%;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

#submit:hover {
    font-size: 2.5rem;
    box-shadow: inset .2rem .2rem .2rem #3473c7, inset -.2rem -.2rem .2rem #6699cc;
}

#submit:active {
    box-shadow: inset .6rem .6rem .6rem #c8d0e7, inset -.5rem -.5rem .5rem #FFFFFF;
}

#personAge, #message {
    display: none;
    width: 110%;
    height: 20%;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    background-color: #E4EBF5;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
}
@media(max-width: 768px){

    #ageCalculator {
        width: 80%;
    }

    #personAge, #message {
        font-size: 1.5rem;
    }
}