body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E4EBF5;
}
#backButton{
  position: relative;
  right: 45%;
  height: 50px;
  color: #717e9c;
  cursor: pointer;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.box {
   width: 80%;
   height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #FFFFFF;
    text-align: center;
}

#tablebody {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tablebody td, #tablebody th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tablebody tr:nth-child(even){background-color: #f2f2f2;}

#tablebody tr:hover {background-color: #ddd;}

#tablebody th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
h1 {
  text-align: center;
  color: #717e9c;
}
h2{
  color: #717e9c;
}